# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @openconfig/featureprofiles-maintainers will be requested for
# review when someone opens a pull request.
*       @openconfig/featureprofiles-maintainers @openconfig/featureprofiles-quattro

# Order is important; the last matching pattern takes the most
# precedence.
