# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @openconfig/featureprofiles-maintainers will be requested for
# review when someone opens a pull request.
*       @openconfig/featureprofiles-maintainers

# /feature folders each have owners who are auto requested for review and may merge PR's
/feature/bgp/          @dplore
/feature/dhcp/         @alokmtri-g
/feature/ethernet/     @ram-mac
/feature/interface/    @ram-mac
/feature/isis/         @rohit-rp
/feature/lldp/         @alokmtri-g
/feature/mpls/         @swetha-haridasula
/feature/mtu/          @swetha-haridasula
/feature/networkinstance/    @swetha-haridasula
/feature/policy_forwarding/  @swetha-haridasula
/feature/qos                 @sezhang2
/feature/routing_policy/     @swetha-haridasula
/feature/security            @mihirpitale-googler
/feature/staticroute/        @swetha-haridasula
/feature/stp/                @alokmtri-g
/feature/system              @self-maurya
/feature/vrrp                @amrindrr

# Common OTG utilities 
/internal/otgutils/  @openconfig/featureprofiles-maintainers-otg
