! Command: show running-config
! device: localhost (cEOSLab, EOS-4.26.1F-22359835.googleb4ph1rel (engineering build))
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$J4FWfVMi5n6N33po$LzgIXR64LaRXL2B2vDWtcMAFFMHpoZx.hQ5IwddBn3a7vrHTkEmF7dDHxFRBfy9.PTSwijxzTA/R8zBldP8AS.
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model ribd
service routing protocols model multi-agent
! Enable FIB_PROGRAMMED response for gRIBI.
hardware fec programmed all
!
agent Bfd shutdown
agent PowerManager shutdown
agent LedPolicy shutdown
agent Thermostat shutdown
agent PowerFuse shutdown
agent StandbyCpld shutdown
agent LicenseManager shutdown
!
management api models
   provider aft
      ipv4-unicast
      ipv6-unicast
!
management api gnmi
   transport grpc default
      ! Restart gNMI for provider aft.
      shutdown
      no shutdown
      ssl profile octa-ssl-profile
   provider eos-native
!
management api gribi
   transport grpc default
      ! Reset gRIBI primary client election ID.
      ! Otherwise tests using a lower election ID will be refused.
      shutdown
      no shutdown
      ssl profile octa-ssl-profile
!
management security
   ssl profile eapi
      tls versions 1.2
      cipher-list EECDH+AESGCM:EDH+AESGCM
      certificate gnmiCert.pem key gnmiCertKey.pem
   !
   ssl profile octa-ssl-profile
      certificate gnmiCert.pem key gnmiCertKey.pem
!
ip routing
!
ipv6 unicast-routing
!
aaa authorization exec default local
!
end
