system {
    root-authentication {
        encrypted-password "$6$vzoltcG6$ZC37XYCfK1rqCh44hxHZb3YG4GhsjFQRI3oPVckXeu.s48qpGVA1j07LiX3C0pr13lcea0vxgEGHKTmKZuU/D1"; ## SECRET-DATA
    }
    services {
        ssh {
            root-login allow;
        }
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
interfaces {
    re0:mgmt-0 {
        unit 0 {
            family inet {
                address FXP0ADDR;
            }
        }
    }
}

system {
    host-name cptx1;
}
interfaces {
    et-0/0/0 {
        number-of-sub-ports 4;
        speed 25g;
    }
    et-0/0/1 {
        number-of-sub-ports 4;
        speed 25g;
    }
    et-0/0/2 {
        number-of-sub-ports 4;
        speed 25g;
    }
    et-0/0/3 {
        number-of-sub-ports 4;
        speed 25g;
    }
    et-0/0/4 {
        number-of-sub-ports 4;
        speed 25g;
    }
    et-0/0/5 {
        unused;
    }
    et-0/0/6 {
        number-of-sub-ports 4;
        speed 25g;
    }
    et-0/0/7 {
        unused;
    }
    et-0/0/8 {
        number-of-sub-ports 4;
        speed 25g;
    }
    et-0/0/9 {
        number-of-sub-ports 4;
        speed 25g;
    }
    et-0/0/10 {
        number-of-sub-ports 4;
        speed 25g;
    }
    et-0/0/11 {
        number-of-sub-ports 4;
        speed 25g;
    }
}
