! Command: show running-config
! device: dut (cEOSLab, EOS-4.28.2F-28057378.googleb4rel (engineering build))
!
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$J4FWfVMi5n6N33po$LzgIXR64LaRXL2B2vDWtcMAFFMHpoZx.hQ5IwddBn3a7vrHTkEmF7dDHxFRBfy9.PTSwijxzTA/R8zBldP8AS.
!
platform tfa personality python
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
agent Bfd shutdown
agent PowerManager shutdown
agent LedPolicy shutdown
agent Thermostat shutdown
agent PowerFuse shutdown
agent StandbyCpld shutdown
agent LicenseManager shutdown
!
hostname dut
!
spanning-tree mode mstp
!
management api gnmi
   transport grpc default
      ssl profile octa-ssl-profile
   provider eos-native
!
management api gribi
   transport grpc default
      ssl profile octa-ssl-profile
!
management api models
   provider aft
      ipv4-unicast
      ipv6-unicast
!
management security
   ssl profile eapi
      tls versions 1.2
      cipher-list EECDH+AESGCM:EDH+AESGCM
      certificate gnmiCert.pem key gnmiCertKey.pem
   !
   ssl profile octa-ssl-profile
      certificate gnmiCert.pem key gnmiCertKey.pem
!
aaa authorization exec default local
!
interface Ethernet1
   mac-address 00:02:02:02:02:02
   no switchport
   ip address 192.0.2.1/31
!
interface Ethernet2
   no switchport
   ip address 192.0.2.3/31
!
ip routing
hardware fec programmed all
!
ipv6 unicast-routing
!
arp 192.0.2.2 00:03:03:03:03:03 arpa
!
mpls ip
!
mpls static top-label 42 Ethernet2 192.0.2.2 swap-label 42
!
router traffic-engineering
   segment-routing
!

