---
name: Go

on:
  push:
    branches: [ main ]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  go:
    uses: openconfig/common-ci/.github/workflows/basic_go.yml@8f9edbc8f21b959a33a8a102352afde0f0061e69
    with:
      coverage-excludes-regex: "/.*test.*"
      tests-excludes-regex: "/.*test.*"
      skip-race-tests: true

  linter:
    uses: openconfig/common-ci/.github/workflows/linter.yml@8f9edbc8f21b959a33a8a102352afde0f0061e69
