name: New Static Analysis
on: [pull_request]
permissions:
  contents: read

jobs:
  staticcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
 
      - name: Free additional disk space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/hostedtoolcache/CodeQL
   
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
          cache: true        # Speeds up subsequent runs
      
      # Dependency for Go module github.com/google/gopacket
      - name: Install libpcap-dev
        run: sudo apt-get -y install libpcap-dev

      - name: Run staticcheck
        uses: dominikh/staticcheck-action@v1
        with:
          version: "latest"
          install-go: false # We already set up Go above

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --new-from-rev=HEAD~1 # Only check changes from the last commit
