name: PR Approval Workflow
on:
  pull_request_target:
    branches:
    - main
jobs:
  check-approvals:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: read
      # actions: read # might be needed
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: Check for required approvals
      id: check-approvals
      env:
        # Use the Org Scoped Token if available for team membership checks
        GITHUB_TOKEN: ${{ secrets.READ_ORG_SCOPED_TOKEN || secrets.GITHUB_TOKEN }}
        PR_NUMBER: ${{ github.event.pull_request.number }}
      run: go run tools/check_approvals/main.go
